In [24]:
import pandas as pd
import geopandas as gpd
import matplotlib as plt

In [3]:
import os
os.listdir()

['.DS_Store',
 'CrimeAnalysis.ipynb',
 '.ipynb_checkpoints',
 'chi-crime-analysis.py',
 'raw']

In [65]:
crime17 = pd.read_csv('raw/Crimes-2017.csv')
crime18 = pd.read_csv('raw/Crimes-2018.csv')
comm_areas = gpd.read_file('geo/CHI_comm_areas.geojson')

all_crimes = pd.concat([crime17, crime18])
all_crimes.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11094370,JA440032,09/21/2017 12:15:00 AM,072XX N CALIFORNIA AVE,1122,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,CURRENCY EXCHANGE,True,False,...,50.0,2.0,10,1156443.0,1947707.0,2017,03/01/2018 03:52:35 PM,42.012293,-87.699714,"(42.012293397, -87.699714109)"
1,11118031,JA470589,10/12/2017 07:14:00 PM,055XX W GRAND AVE,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,JAIL / LOCK-UP FACILITY,True,False,...,29.0,19.0,14,1138788.0,1913480.0,2017,03/01/2018 03:52:35 PM,41.918712,-87.765511,"(41.918711651, -87.76551063)"
2,11134189,JA491697,10/30/2017 11:52:00 AM,043XX S TALMAN AVE,4651,OTHER OFFENSE,SEX OFFENDER: FAIL REG NEW ADD,APARTMENT,True,False,...,12.0,58.0,26,1159425.0,1875711.0,2017,03/01/2018 03:52:35 PM,41.814670,-87.690727,"(41.814669784, -87.690726696)"
3,11156462,JA521389,09/29/2017 06:45:00 PM,055XX W BELMONT AVE,1110,DECEPTIVE PRACTICE,BOGUS CHECK,CURRENCY EXCHANGE,True,False,...,30.0,19.0,11,1138653.0,1920720.0,2017,03/01/2018 03:52:35 PM,41.938581,-87.765831,"(41.938581442, -87.765830579)"
4,11164874,JA531910,12/01/2017 06:20:00 AM,022XX W CHICAGO AVE,0265,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,STREET,True,False,...,32.0,24.0,02,1161264.0,1905292.0,2017,03/01/2018 03:52:35 PM,41.895805,-87.683159,"(41.895805099, -87.683159355)"

In [60]:
#comm_areas.head()
comm_xwalk = comm_areas[['community', 'area_num_1']]

                 community area_num_1
0                  DOUGLAS         35
1                  OAKLAND         36
2              FULLER PARK         37
3          GRAND BOULEVARD         38
4                  KENWOOD         39
5           LINCOLN SQUARE          4
6          WASHINGTON PARK         40
7                HYDE PARK         41
8                 WOODLAWN         42
9              ROGERS PARK          1
10          JEFFERSON PARK         11
11             FOREST GLEN         12
12              NORTH PARK         13
13             ALBANY PARK         14
14            PORTAGE PARK         15
15             IRVING PARK         16
16                 DUNNING         17
17               MONTCLARE         18
18          BELMONT CRAGIN         19
19              WEST RIDGE          2
20                 HERMOSA         20
21                AVONDALE         21
22            LOGAN SQUARE         22
23           HUMBOLDT PARK         23
24               WEST TOWN         24
25                  AUSTIN         25
26      WEST GARFIELD PARK         26
27      EAST GARFIELD PARK         27
28          NEAR WEST SIDE         28
29          NORTH LAWNDALE         29
..                     ...        ...
47            NORTH CENTER          5
48                 PULLMAN         50
49           SOUTH DEERING         51
50               EAST SIDE         52
51            WEST PULLMAN         53
52               RIVERDALE         54
53               HEGEWISCH         55
54          GARFIELD RIDGE         56
55          ARCHER HEIGHTS         57
56           BRIGHTON PARK         58
57              BRIDGEPORT         60
58                NEW CITY         61
59             WEST ELSDON         62
60               GAGE PARK         63
61                CLEARING         64
62               WEST LAWN         65
63            CHICAGO LAWN         66
64          WEST ENGLEWOOD         67
65               ENGLEWOOD         68
66  GREATER GRAND CROSSING         69
67            LINCOLN PARK          7
68                 ASHBURN         70
69          AUBURN GRESHAM         71
70                 BEVERLY         72
71      WASHINGTON HEIGHTS         73
72         MOUNT GREENWOOD         74
73             MORGAN PARK         75
74                   OHARE         76
75               EDGEWATER         77
76             EDISON PARK          9

[77 rows x 2 columns]

In [21]:
types17 = crime17[['Primary Type', 'ID']].groupby(['Primary Type']).count().sort_values(by='ID', ascending=False)
types18 = crime18[['Primary Type', 'ID']].groupby(['Primary Type']).count().sort_values(by='ID', ascending=False)
type_summary = types17.join(types18, on='Primary Type', how='outer', lsuffix = '_2017', rsuffix='_2018')
type_summary

                                   ID_2017  ID_2018
Primary Type
THEFT                                64345    65079
BATTERY                              49214    49781
CRIMINAL DAMAGE                      29042    27806
ASSAULT                              19303    20377
DECEPTIVE PRACTICE                   19025    18716
OTHER OFFENSE                        17227    17125
BURGLARY                             13001    11729
ROBBERY                              11877     9683
NARCOTICS                            11658    12987
MOTOR VEHICLE THEFT                  11406     9987
CRIMINAL TRESPASS                     6812     6904
WEAPONS VIOLATION                     4686     5450
OFFENSE INVOLVING CHILDREN            2269     2230
CRIM SEXUAL ASSAULT                   1628     1627
PUBLIC PEACE VIOLATION                1498     1369
INTERFERENCE WITH PUBLIC OFFICER      1086     1305
SEX OFFENSE                           1025     1103
PROSTITUTION                           735      718
HOMICIDE                               676      586
ARSON                                  444      372
GAMBLING                               191      201
LIQUOR LAW VIOLATION                   191      267
KIDNAPPING                             190      169
STALKING                               188      203
INTIMIDATION                           151      168
OBSCENITY                               87       86
CONCEALED CARRY LICENSE VIOLATION       69      149
NON-CRIMINAL                            38       37
OTHER NARCOTIC VIOLATION                11        1
PUBLIC INDECENCY                        10       14
HUMAN TRAFFICKING                        9       14
NON-CRIMINAL (SUBJECT SPECIFIED)         2        3

In [37]:
nhoods17 = crime17[['Community Area', 'ID']].groupby(['Community Area']).count().sort_values(by='ID', ascending=False)
nhoods18 = crime18[['Community Area', 'ID']].groupby(['Community Area']).count().sort_values(by='ID', ascending=False)
nhood_summary = nhoods17.join(nhoods18, on='Community Area', how='outer', lsuffix = '_2017', rsuffix='_2018')
nhood_summary
#pd.merge(nhood_summary, comm_areas[['community', 'area_num_1']], left_on='Community Area', right_on='area_num_1')

                ID_2017  ID_2018
Community Area
25                15385    15041
8                 12311    13056
32                10624    10856
29                 9066     9310
28                 9049     9399
43                 8677     8648
24                 8324     7301
23                 8055     8039
71                 7527     7370
49                 6951     6884
67                 6950     7066
69                 6482     6338
44                 6406     6498
68                 5939     6205
66                 5752     5663
6                  5746     5925
26                 5368     5658
22                 5064     4908
27                 4758     4905
61                 4645     4220
19                 4605     4356
46                 4574     4315
30                 4533     4540
7                  4476     4994
1                  4148     3800
53                 3995     4049
42                 3840     3469
2                  3592     3511
3                  3565     3629
38                 3451     3241
...                 ...      ...
41                 1724     1958
76                 1685     1627
39                 1531     1456
17                 1516     1500
60                 1515     1510
20                 1505     1397
5                  1425     1323
48                 1364     1386
54                 1351     1354
45                 1283     1162
52                 1217     1101
10                 1104     1170
50                 1097     1201
11                 1058     1096
59                 1052      906
34                 1020     1014
62                 1017     1013
13                  967     1000
72                  898      911
64                  897      957
37                  880      836
57                  849      817
36                  680      664
55                  672      622
18                  608      598
74                  585      564
12                  547      493
47                  370      385
9                   275      253
0                     1        2

[78 rows x 2 columns]

In [77]:
nhoods_crime = all_crimes[['Community Area', 'Primary Type', 'ID']].groupby(['Community Area', 'Primary Type']).count().sort_values(by='ID', ascending=False).reset_index()
nhoods_crime.columns = ['area_num_1', 'Crime Type', 'Crimes']
nhoods_crime.groupby(['area_num_1']).max().reset_index()[['area_num_1', 'Crime Type', 'Crimes']]

    area_num_1         Crime Type  Crimes
0          0.0          NARCOTICS       1
1          1.0  WEAPONS VIOLATION    2282
2          2.0  WEAPONS VIOLATION    1725
3          3.0  WEAPONS VIOLATION    1954
4          4.0  WEAPONS VIOLATION    1170
5          5.0  WEAPONS VIOLATION    1057
6          6.0  WEAPONS VIOLATION    4581
7          7.0  WEAPONS VIOLATION    4735
8          8.0  WEAPONS VIOLATION   12023
9          9.0  WEAPONS VIOLATION     115
10        10.0  WEAPONS VIOLATION     571
11        11.0  WEAPONS VIOLATION     555
12        12.0  WEAPONS VIOLATION     313
13        13.0  WEAPONS VIOLATION     628
14        14.0  WEAPONS VIOLATION    1251
15        15.0  WEAPONS VIOLATION    1601
16        16.0  WEAPONS VIOLATION    1587
17        17.0  WEAPONS VIOLATION     602
18        18.0  WEAPONS VIOLATION     263
19        19.0  WEAPONS VIOLATION    1742
20        20.0  WEAPONS VIOLATION     567
21        21.0  WEAPONS VIOLATION    1342
22        22.0  WEAPONS VIOLATION    3529
23        23.0  WEAPONS VIOLATION    3187
24        24.0  WEAPONS VIOLATION    5875
25        25.0  WEAPONS VIOLATION    6723
26        26.0  WEAPONS VIOLATION    2246
27        27.0  WEAPONS VIOLATION    2313
28        28.0  WEAPONS VIOLATION    6944
29        29.0  WEAPONS VIOLATION    3944
..         ...                ...     ...
48        48.0  WEAPONS VIOLATION     512
49        49.0  WEAPONS VIOLATION    2915
50        50.0  WEAPONS VIOLATION     589
51        51.0  WEAPONS VIOLATION     827
52        52.0  WEAPONS VIOLATION     537
53        53.0  WEAPONS VIOLATION    1741
54        54.0  WEAPONS VIOLATION     731
55        55.0  WEAPONS VIOLATION     262
56        56.0  WEAPONS VIOLATION     901
57        57.0  WEAPONS VIOLATION     380
58        58.0  WEAPONS VIOLATION     950
59        59.0  WEAPONS VIOLATION     469
60        60.0  WEAPONS VIOLATION     691
61        61.0  WEAPONS VIOLATION    1960
62        62.0  WEAPONS VIOLATION     518
63        63.0  WEAPONS VIOLATION     837
64        64.0  WEAPONS VIOLATION     387
65        65.0  WEAPONS VIOLATION     987
66        66.0  WEAPONS VIOLATION    2475
67        67.0  WEAPONS VIOLATION    3288
68        68.0  WEAPONS VIOLATION    3048
69        69.0  WEAPONS VIOLATION    3129
70        70.0  WEAPONS VIOLATION     953
71        71.0  WEAPONS VIOLATION    3338
72        72.0  WEAPONS VIOLATION     479
73        73.0  WEAPONS VIOLATION    1236
74        74.0  WEAPONS VIOLATION     314
75        75.0  WEAPONS VIOLATION    1018
76        76.0  WEAPONS VIOLATION    1084
77        77.0  WEAPONS VIOLATION    1723

[78 rows x 3 columns]

In [58]:
#nhood_crime_summary.merge(comm_areas[['community', 'area_num_1']], on='area_num_1')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [101]:
arrests = all_crimes[['Primary Type', 'Arrest', 'ID']].groupby(['Primary Type', 'Arrest']).count().sort_values(by='Primary Type', ascending=False).reset_index()
arrests = arrests.pivot(index='Primary Type', columns='Arrest', values='ID').reset_index()
arrests.columns = ['Primary Type', 'NoArrest', 'Arrest']
arrests['Arrest Rate'] = arrests['Arrest'] / (arrests['Arrest'] + arrests['NoArrest'])
arrests[['Primary Type', 'Arrest Rate']].sort_values(by='Arrest Rate', ascending=False)

                         Primary Type  Arrest Rate
17                          NARCOTICS     0.999067
4   CONCEALED CARRY LICENSE VIOLATION     0.967890
12   INTERFERENCE WITH PUBLIC OFFICER     0.951903
20                          OBSCENITY     0.797688
31                  WEAPONS VIOLATION     0.737569
26             PUBLIC PEACE VIOLATION     0.644227
22           OTHER NARCOTIC VIOLATION     0.583333
7                   CRIMINAL TRESPASS     0.570064
19   NON-CRIMINAL (SUBJECT SPECIFIED)     0.400000
10                           HOMICIDE     0.258320
23                      OTHER OFFENSE     0.212360
2                             BATTERY     0.204596
28                        SEX OFFENSE     0.178571
1                             ASSAULT     0.171245
21         OFFENSE INVOLVING CHILDREN     0.134697
29                           STALKING     0.109974
30                              THEFT     0.098614
0                               ARSON     0.090686
11                  HUMAN TRAFFICKING     0.086957
13                       INTIMIDATION     0.081505
27                            ROBBERY     0.078664
14                         KIDNAPPING     0.069638
16                MOTOR VEHICLE THEFT     0.067779
5                 CRIM SEXUAL ASSAULT     0.063287
6                     CRIMINAL DAMAGE     0.060231
3                            BURGLARY     0.047554
8                  DECEPTIVE PRACTICE     0.044196
18                       NON-CRIMINAL     0.040000
9                            GAMBLING          NaN
15               LIQUOR LAW VIOLATION          NaN
24                       PROSTITUTION          NaN
25                   PUBLIC INDECENCY          NaN