The problem is to predict if a project on donorschoose will not get fully funded within 60 days of posting. 
* This prediction is being done at the time of posting so you can only use data available to you at that time. 
* The data is a file that has one row for each project posted with a column for "date_posted" (the date the project was posted) and a column for "datefullyfunded" (the date the project was fully funded - assumption for this assignment is that all projects were fully funded eventually). 
* The data spans Jan 1, 2012 to Dec 31, 2013. 
* You should have your validation/test set be a rolling window of 6 months (which should give you three test sets). 
* The training sets should be everything from 1/1/12 to the beginning of the test set.

In [1]:
# basic dependencies
import datetime
import numpy as np
import pandas as pd 
import seaborn as sns
import plotnine as p9
import matplotlib.pyplot as plt
from sklearn import preprocessing

# my own library of useful functions
import utils
import exploration as exp
import pipeline as pipe

In [2]:
projraw = utils.read_data('projects_2012_2013', 'csv')

In [3]:
projraw.head()

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded
0,00001ccc0e81598c4bd86bacb94d7acb,96963218e74e10c3764a5cfb153e6fea,9f3f9f2c2da7edda5648ccd10554ed8c,1.709930e+11,41.807654,-87.673257,Chicago,IL,urban,Pershing Elem Network,...,Visual Arts,Music & The Arts,Supplies,highest poverty,Grades PreK-2,1498.61,31.0,f,4/14/13,5/2/13
1,0000fa3aa8f6649abab23615b546016d,2a578595fe351e7fce057e048c409b18,3432ed3d4466fac2f2ead83ab354e333,6.409801e+10,34.296596,-119.296596,Ventura,CA,urban,Ventura Unif School District,...,Literature & Writing,Literacy & Language,Books,highest poverty,Grades 3-5,282.47,28.0,t,4/7/12,4/18/12
2,000134f07d4b30140d63262c871748ff,26bd60377bdbffb53a644a16c5308e82,dc8dcb501c3b2bb0b10e9c6ee2cd8afd,6.227100e+10,34.078625,-118.257834,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Social Sciences,History & Civics,Technology,high poverty,Grades 3-5,1012.38,56.0,f,1/30/12,4/15/12
3,0001f2d0b3827bba67cdbeaa248b832d,15d900805d9d716c051c671827109f45,8bea7e8c6e4279fca6276128db89292e,3.600090e+11,40.687286,-73.988217,Brooklyn,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Books,high poverty,Grades PreK-2,175.33,23.0,f,10/11/12,12/5/12
4,0004536db996ba697ca72c9e058bfe69,400f8b82bb0143f6a40b217a517fe311,fbdefab6fe41e12c55886c610c110753,3.606870e+11,40.793018,-73.205635,Central Islip,NY,suburban,Central Islip Union Free SD,...,Literature & Writing,Literacy & Language,Technology,high poverty,Grades PreK-2,3591.11,150.0,f,1/8/13,3/25/13

In [4]:
utils.find_cols_with_missing(projraw)

school_ncesid               9233
school_metro               15224
school_district              172
primary_focus_subject         15
primary_focus_area            15
secondary_focus_subject    40556
secondary_focus_area       40556
resource_type                 17
grade_level                    3
students_reached              59
dtype: int64

In [5]:
projraw.info()
# results of this make me want to not include secondary focus subject or area as a feature.
# Create boolean features for is_subject... etc. Then I can include nans.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124976 entries, 0 to 124975
Data columns (total 26 columns):
projectid                                 124976 non-null object
teacher_acctid                            124976 non-null object
schoolid                                  124976 non-null object
school_ncesid                             115743 non-null float64
school_latitude                           124976 non-null float64
school_longitude                          124976 non-null float64
school_city                               124976 non-null object
school_state                              124976 non-null object
school_metro                              109752 non-null object
school_district                           124804 non-null object
school_county                             124976 non-null object
school_charter                            124976 non-null object
school_magnet                             124976 non-null object
teacher_prefix                            124976 non-null object
primary_focus_subject                     124961 non-null object
primary_focus_area                        124961 non-null object
secondary_focus_subject                   84420 non-null object
secondary_focus_area                      84420 non-null object
resource_type                             124959 non-null object
poverty_level                             124976 non-null object
grade_level                               124973 non-null object
total_price_including_optional_support    124976 non-null float64
students_reached                          124917 non-null float64
eligible_double_your_impact_match         124976 non-null object
date_posted                               124976 non-null object
datefullyfunded                           124976 non-null object
dtypes: float64(5), object(21)
memory usage: 24.8+ MB

Here's what I'm going to do to this dataframe:
* convert date columns to dates
* convert t/f columns to actual booleans
* take the categorical variables and convert them to binary
* what should I normalize??? probably price, students reached

In [6]:
# convert categorical variables to binary
categorical_list = ['school_state',
                    'school_metro',
                    'primary_focus_subject',
                    'primary_focus_area',
                    'secondary_focus_subject',
                    'secondary_focus_area', 
                    'resource_type', 
                    'poverty_level',
                    'grade_level']
proj = utils.make_cat_dummy(projraw, categorical_list)

# create major city dummy for biggest cities
big_cities = ['Los Angeles', 'Chicago', 'Houston', 'Brooklyn', 'Bronx', 'New York']
proj['in_big_city'] = np.where(proj['school_city'].isin(big_cities), 1, 0)

# create dummies for female teacher and teacher with doctorate
proj['teacher_is_female'] = np.where(proj['teacher_prefix'].isin(['Mrs.', 'Ms.']), True, False)
proj['teacher_is_dr'] = np.where(proj['teacher_prefix'] == 'Dr.', True, False)

# replace string true/false with boolean values
proj = utils.convert_to_boolean(proj, ['school_charter',
                                       'school_magnet',
                                      'eligible_double_your_impact_match'], 't', 'f')

# convert date fields and compute whether project is funded within 60 days
proj['date_posted'] = pd.to_datetime(proj.date_posted) 
proj['datefullyfunded'] = pd.to_datetime(proj.datefullyfunded)
proj['funded'] = np.where(proj.datefullyfunded - proj.date_posted <= datetime.timedelta(days=60), 1, 0)

# normalize project price and students reached
proj['total_price_norm'] = preprocessing.scale(proj['total_price_including_optional_support'].astype('float64'))
proj['students_reached_norm'] = preprocessing.scale(proj['students_reached'].astype('float64'))

In [7]:
not_feature_cols = ['teacher_acctid',
                  'schoolid',
                  'school_ncesid',
                  'school_latitude', 
                  'school_longitude',
                  'school_district',
                  'school_county',
                  'teacher_prefix',
                   'date_posted',
                   'datefullyfunded',
                   'funded']
features = list(set(proj.columns).difference(not_feature_cols))
features

['primary_focus_area_Health & Sports',
 'primary_focus_subject_Community Service',
 'primary_focus_subject_Character Education',
 'secondary_focus_subject_History & Geography',
 'secondary_focus_subject_Extracurricular',
 'school_metro_suburban',
 'school_state_IA',
 'school_state_MT',
 'school_state_SC',
 'primary_focus_area_History & Civics',
 'primary_focus_subject_Literature & Writing',
 'school_state_MN',
 'school_state_TN',
 'school_state_GA',
 'school_state_nan',
 'primary_focus_subject_Environmental Science',
 'school_state_OR',
 'primary_focus_subject_Visual Arts',
 'school_state_AK',
 'primary_focus_subject_Applied Sciences',
 'school_state_TX',
 'secondary_focus_subject_Music',
 'school_state_NE',
 'school_state_NC',
 'school_state_RI',
 'school_state_NJ',
 'secondary_focus_subject_Social Sciences',
 'resource_type_Trips',
 'secondary_focus_area_History & Civics',
 'primary_focus_area_Literacy & Language',
 'secondary_focus_subject_Performing Arts',
 'resource_type_Other',
 'primary_focus_subject_Social Sciences',
 'secondary_focus_subject_Early Development',
 'secondary_focus_area_Music & The Arts',
 'poverty_level_highest poverty',
 'resource_type_Visitors',
 'primary_focus_subject_Foreign Languages',
 'grade_level_Grades 9-12',
 'secondary_focus_subject_Applied Sciences',
 'school_state_PA',
 'secondary_focus_subject_Other',
 'secondary_focus_subject_Character Education',
 'school_state_DC',
 'secondary_focus_subject_Parent Involvement',
 'school_state_IL',
 'primary_focus_subject_ESL',
 'school_state_ME',
 'primary_focus_area_Music & The Arts',
 'secondary_focus_area_Math & Science',
 'resource_type_Technology',
 'primary_focus_subject_nan',
 'school_state_AR',
 'school_state_NH',
 'secondary_focus_subject_Health & Wellness',
 'poverty_level_nan',
 'school_state_OH',
 'secondary_focus_subject_Mathematics',
 'school_city',
 'primary_focus_subject_Literacy',
 'secondary_focus_subject_nan',
 'in_big_city',
 'secondary_focus_subject_Literature & Writing',
 'primary_focus_subject_Special Needs',
 'school_state_NV',
 'school_state_IN',
 'school_state_SD',
 'secondary_focus_subject_Sports',
 'primary_focus_subject_Health & Life Science',
 'school_state_AZ',
 'primary_focus_subject_Gym & Fitness',
 'primary_focus_subject_Nutrition',
 'resource_type_Books',
 'primary_focus_area_nan',
 'secondary_focus_subject_Health & Life Science',
 'primary_focus_subject_Performing Arts',
 'school_state_WV',
 'secondary_focus_area_nan',
 'primary_focus_subject_Health & Wellness',
 'school_state_UT',
 'primary_focus_subject_Other',
 'teacher_is_female',
 'school_state_MD',
 'students_reached_norm',
 'school_state_VT',
 'secondary_focus_area_Health & Sports',
 'secondary_focus_subject_Economics',
 'school_state_FL',
 'school_state_MA',
 'school_magnet',
 'primary_focus_subject_Parent Involvement',
 'secondary_focus_area_Special Needs',
 'total_price_norm',
 'school_state_MI',
 'school_state_WA',
 'secondary_focus_subject_Environmental Science',
 'school_state_AL',
 'primary_focus_subject_Civics & Government',
 'school_state_VA',
 'school_state_MS',
 'school_state_KY',
 'students_reached',
 'school_state_LA',
 'school_state_ND',
 'school_state_NM',
 'primary_focus_area_Special Needs',
 'secondary_focus_subject_Community Service',
 'school_state_HI',
 'school_charter',
 'projectid',
 'poverty_level_moderate poverty',
 'grade_level_Grades 6-8',
 'school_metro_rural',
 'secondary_focus_subject_Gym & Fitness',
 'school_state_MO',
 'school_state_NY',
 'resource_type_nan',
 'grade_level_Grades PreK-2',
 'secondary_focus_subject_ESL',
 'school_state_OK',
 'primary_focus_subject_College & Career Prep',
 'secondary_focus_subject_Foreign Languages',
 'secondary_focus_area_Literacy & Language',
 'school_state_ID',
 'secondary_focus_subject_Special Needs',
 'primary_focus_subject_Mathematics',
 'secondary_focus_subject_Nutrition',
 'primary_focus_subject_Music',
 'secondary_focus_area_Applied Learning',
 'primary_focus_subject_History & Geography',
 'school_state_CO',
 'secondary_focus_subject_College & Career Prep',
 'primary_focus_subject_Economics',
 'teacher_is_dr',
 'grade_level_Grades 3-5',
 'school_state_WY',
 'poverty_level_high poverty',
 'school_metro_urban',
 'school_metro_nan',
 'primary_focus_area_Math & Science',
 'poverty_level_low poverty',
 'secondary_focus_subject_Visual Arts',
 'school_state_CA',
 'primary_focus_subject_Sports',
 'school_state_WI',
 'school_state_DE',
 'grade_level_nan',
 'resource_type_Supplies',
 'school_state_KS',
 'primary_focus_area_Applied Learning',
 'secondary_focus_subject_Civics & Government',
 'total_price_including_optional_support',
 'primary_focus_subject_Extracurricular',
 'eligible_double_your_impact_match',
 'primary_focus_subject_Early Development',
 'secondary_focus_subject_Literacy',
 'school_state_CT']

In [11]:
X = proj[features]
Y = proj['funded']

from sklearn.model_selection import TimeSeriesSplit
tcv = TimeSeriesSplit(3)

In [106]:
def convert_duration_to_interval(df, date_col, time_interval, time_unit = "weeks", end_with_max = True):
    ''' Takes dataframe, string name of date column, number of intervals
        Will eventually allow different time intervals
        Default option ends last interval with the latest date in the dataframe (so last chunk unequal)

        Returns: list of dates demarcating time intervals
    '''

    df[date_col] = pd.to_datetime(df[date_col])
    min_date = df[date_col].min()
    max_date = df[date_col].max()
    
    intervals = [min_date]

    if time_unit == "weeks":

        interval_length = datetime.timedelta(weeks = time_interval)
        num_intervals = math.floor((max_date - min_date) / interval_length)

        i = 0
        next_date = min_date
        while i < num_intervals:
            next_date = next_date + interval_length
            intervals.append(next_date)
            i += 1

        # final interval will end with the final date u
        if end_with_max and intervals[-1] < max_date :
            intervals[-1] = max_date

        return intervals
    
    else:
        print("Time unit not yet supported; please convert to weeks")
        return


def create_sliding_window_sets(df, date_col, feature_list, target, time_interval, lag_time):
    ''' Takes full dataframe, string name of date column, list of features, 
        string name of target variable, number of intervals, and any lag time.
        Returns dictionary containing training and testing sets for each interval
    '''

    df[date_col] = pd.to_datetime(df[date_col])
    intervals = convert_duration_to_interval(df, date_col, time_interval)
    
    df['interval'] = pd.cut(df[date_col], intervals)
   
    # we don't want to include any observations too close to train/test date,
    # if we haven't yet observed their outcome
    df['interval'] = np.where(df[date_col] + lag_time > df['interval'].apply(lambda x: x.right), np.nan, df.interval)
    
    return df

In [107]:
intervals = convert_duration_to_interval(proj, 'date_posted', 26)
intervals[0] + datetime.timedelta(days=60)

Timestamp('2012-03-01 00:00:00')

In [108]:
lag_time = datetime.timedelta(days=60)
create_sliding_window_sets(proj, 'date_posted', features, 'funded', 26, lag_time)

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_district,school_county,school_charter,...,grade_level_Grades PreK-2,grade_level_nan,in_big_city,teacher_is_female,teacher_is_dr,funded,total_price_norm,students_reached_norm,bins,interval
0,00001ccc0e81598c4bd86bacb94d7acb,96963218e74e10c3764a5cfb153e6fea,9f3f9f2c2da7edda5648ccd10554ed8c,1.709930e+11,41.807654,-87.673257,Chicago,Pershing Elem Network,Cook,False,...,1,0,1,True,False,1,0.769207,-0.394209,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
1,0000fa3aa8f6649abab23615b546016d,2a578595fe351e7fce057e048c409b18,3432ed3d4466fac2f2ead83ab354e333,6.409801e+10,34.296596,-119.296596,Ventura,Ventura Unif School District,Ventura,False,...,0,0,0,True,False,1,-0.338377,-0.412560,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
2,000134f07d4b30140d63262c871748ff,26bd60377bdbffb53a644a16c5308e82,dc8dcb501c3b2bb0b10e9c6ee2cd8afd,6.227100e+10,34.078625,-118.257834,Los Angeles,Los Angeles Unif Sch Dist,Los Angeles,False,...,0,0,1,True,False,0,0.326379,-0.241286,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
3,0001f2d0b3827bba67cdbeaa248b832d,15d900805d9d716c051c671827109f45,8bea7e8c6e4279fca6276128db89292e,3.600090e+11,40.687286,-73.988217,Brooklyn,New York City Dept Of Ed,Kings (Brooklyn),False,...,1,0,1,True,False,1,-0.435953,-0.443144,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
4,0004536db996ba697ca72c9e058bfe69,400f8b82bb0143f6a40b217a517fe311,fbdefab6fe41e12c55886c610c110753,3.606870e+11,40.793018,-73.205635,Central Islip,Central Islip Union Free SD,Suffolk,False,...,1,0,0,True,False,0,2.674925,0.333703,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
5,00049ec8ca1f2d08cb13cab31b0b85ec,7149611553c700de9a6099f8a9ce598b,462a5fd93cf9fb5d41eecfd2ea860b19,2.621150e+11,42.740157,-84.525821,Lansing,Lansing School District,Ingham,False,...,0,0,0,True,False,0,-0.162259,-0.492079,"(2012-07-01, 2012-12-30]",NaN
6,0004d2fdbb571237fa53a97e7691440b,926671e209fb977bd5123145c1848ad1,1a994778027ab086dc58ec3b47f74ff0,4.047200e+10,33.059361,-112.037727,Maricopa,Maricopa Unif Sch District 20,Pinal,False,...,0,0,0,True,False,1,-0.239853,-0.357507,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
7,0004ee26667e751dd51384eb9f30c72e,abe4dabb7864f4c548d230cf9070e03f,8409f70bcd81bc06e4b9efca68eed8f6,6.280501e+10,37.761958,-122.193209,Oakland,Oakland Unified School Dist,Alameda,False,...,0,0,0,False,False,1,2.935478,-0.400326,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
8,0006a31d45f8d52d217e7c5b55c11f37,3b5fada1ad0e339acc669829071320c4,c6a033f9349ea70659c1891b119680ed,2.307320e+11,44.096641,-70.191734,Lewiston,Lewiston Public Schools,Androscoggin,False,...,0,0,0,True,False,1,0.168248,-0.430910,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
9,0008ac907bf237a15a959244205d3ee5,92527a5ac5fe946ed1961fb2e1de8cc5,23e34f5d2e2940684269cffe35741598,6.271800e+10,34.381832,-118.531837,Newhall,Newhall School District,Los Angeles,False,...,1,0,0,True,False,1,0.749927,-0.437027,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
10,0009bc936fed4728d5fd86d92ee3cec1,66b77e507a30a5fbbcb4f7631c5ccc75,af67655269d03992889a8db7fe0cf83d,6.072000e+10,37.263773,-121.996427,Saratoga,Campbell Union School District,Santa Clara,True,...,0,0,0,True,False,0,-0.418850,-0.430910,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
11,000a6dcbb21ec643daf74ed28991d29c,93e0a37fca3cd7c9c32a535673c48af4,7e28905e0126e37d9b747e92c5fcf44d,2.926850e+11,38.535275,-90.464493,Fenton,Rockwood School District R6,St Louis,False,...,0,0,0,True,False,0,0.054834,-0.430910,"(2012-12-30, 2013-06-30]",NaN
12,000a981e6bd61c489bbebc237f7b6a0d,a886a532c21f83b0c30571208636dc0e,c995de8108ac314637e1c869f81af766,1.709930e+11,41.922711,-87.692965,Chicago,Fullerton Elem Network,Cook,False,...,1,0,1,True,False,1,-0.119071,3.698003,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
13,000b238b8c85214d58683b13398fd058,439f1e081199a89540cbf69866cfd182,685d2471561270abe3820d947fbbe3e9,6.225000e+10,33.773256,-118.183848,Long Beach,Long Beach Unified School Dist,Los Angeles,False,...,1,0,0,True,False,1,0.414320,4.364746,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
14,000b574223b4f491c7de7bccae88b51d,5003eacb7e6311d01177c275c633768a,87e515cc802d93213adfb963ef8de30e,3.600090e+11,40.813916,-73.900522,Bronx,New York City Dept Of Ed,Bronx,False,...,1,0,1,True,False,0,0.021601,-0.437027,"(2012-12-30, 2013-06-30]",NaN
15,000bab2056ba84931f4f5bc72f542e03,10d2de84406c94967bb0f01f57ba980f,d0318b91338cd9dd6f18202eebe7c9c2,NaN,30.013238,-81.391606,St Augustine,St Johns Co School District,St Johns,False,...,1,0,0,True,False,1,-0.444678,-0.473729,"(2012-07-01, 2012-12-30]",NaN
16,000be0b57987d6c29d650a88eac2961b,ae7b6b599922817b2e0cb9f96354297e,922a11f9ab72afebccf5b9391191e1bd,2.102490e+11,37.803213,-85.987333,Vine Grove,Hardin Co School District,Hardin,False,...,0,0,0,True,False,0,-0.157404,0.150196,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
17,000d3ead6b648ba31043bb6376e6342d,3dd9af5310c77541f5b65cf190cec338,8018b1c81de3aede5363afabcf32b17c,4.088000e+10,32.228378,-110.963287,Tucson,Tucson Unified School Dist,Pima,False,...,1,0,0,True,False,1,-0.354169,-0.259637,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
18,000e6a13fd69bf0e426403b1d5da0e99,1ad348085983de6a0f1fe6a37779f7f2,82571bc4db2e4cd846e3c50eeceeb176,6.227100e+10,34.182137,-118.424728,Van Nuys,Los Angeles Unif Sch Dist,Los Angeles,False,...,0,0,0,True,False,1,-0.325435,-0.400326,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
19,000e964b1e5c911adf700736c43e8f85,27076f8d0ec597bfd5035ef84d6691b0,3870254e36f88935745384ebc06a4caf,1.300120e+11,33.752884,-84.342140,Atlanta,Atlanta Public Schools,De Kalb,False,...,0,0,0,True,False,1,0.404712,-0.345274,"(2012-07-01, 2012-12-30]",NaN
20,000faa31e276e9e649360949207fa00c,86403b5f04ed07201cd04184ff4c0ced,c86d87fee34b13377658337fa8bf2fc5,2.931440e+11,38.367966,-92.477882,Ft Leonard Wd,Waynesville School Dist R6,Pulaski,False,...,0,0,0,True,False,1,-0.019929,-0.430910,"(2012-07-01, 2012-12-30]",NaN
21,0010040593d5e9699ee45834369ec817,1871e44279646e8d18fa74d29dcfc456,83b74057d63f2da28f3635efeffd61a1,1.707650e+11,40.456921,-88.137198,Paxton,Paxton-buckley-loda Cusd 10,Ford,False,...,0,0,0,True,False,1,-0.393850,0.027858,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
22,00103b0614e31016e5c4cc7d405bbc51,9e4433fb2d3078bc4dcbe2860d05ebf5,b22babfd8fbdfa6b53e4747b74da02dd,4.835850e+11,33.183766,-96.494366,Princeton,Princeton Ind School Dist,Collin,False,...,0,0,0,True,False,0,0.429311,3.453327,"(2013-06-30, 2013-12-31]",NaN
23,00105edf14ebb7f146d6ba2098639bb1,ac1ef23232ddd1597f6fa5b28a171fa5,33b6121da948b2fd67fd78f5935eb793,6.261900e+10,34.050485,-118.020442,El Monte,Mountain View School District-Los Angeles,Los Angeles,False,...,1,0,0,True,False,0,1.344602,-0.400326,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
24,001096473792e89ccc83e9f6ab01871b,e21c4208e61018ed35aa2bcc392a2d40,7fdffcfd5bea8e0fc99952254a875a72,1.200870e+11,28.155807,-82.532195,Lutz,Hillsborough Co Pub Sch Dist,Hillsborough,False,...,1,0,0,True,False,1,0.056154,-0.479846,"(2013-06-30, 2013-12-31]",NaN
25,00134d14226ef613134712c54211f754,5bce35e3991721b665d33095e9d3aa31,9b62c64683b7c3212f159e13eb41ff5c,1.812720e+11,39.920792,-86.142952,Indianapolis,Washington Township Sch Dist,Marion,False,...,1,0,0,True,False,0,-0.123671,-0.418676,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
26,00136585c0e4a67afaa964403cf9f45b,402cfc6b73dc62f44946bc1c381f6b1c,0793efaeba83d8b5b9d55f5772fac62d,NaN,35.906952,-77.540756,Tarboro,North Carolina Dept of Ed,Edgecombe,True,...,0,0,0,True,False,0,-0.276246,-0.277988,"(2012-01-01, 2012-07-01]",NaN
27,0013a402fb4cf84e3d60d7a59566dff8,511ec2a1372cd7b9e1af86b1b3de8bff,dbde53d7dbafbbb22ca60f36bb0019a5,6.227101e+10,34.227558,-118.499130,North Hills,Los Angeles Unif Sch Dist,Los Angeles,False,...,0,0,0,False,False,1,0.166053,-0.406443,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
28,001468d419e1ee737f364013334d0c84,ca8d614f79013690baf1a8860be4b754,4157e4e610804d738f2d1a450d36dd3f,1.200180e+11,26.240857,-80.165433,Pompano Beach,Broward Co Public Schools,Broward,False,...,0,0,0,True,False,1,-0.338851,-0.216818,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
29,0014cedcb2d697902c15081ab12deadf,b9e31d1b986c0cf802c9e13869b86cef,1d74e61c912fe4527eb57ac456bcac8a,3.600090e+11,40.837411,-73.854644,Bronx,New York City Dept Of Ed,Bronx,False,...,1,0,1,False,False,0,-0.257012,-0.400326,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124946,fff008ba1051b272f9e5218b1c125169,4999b5d89891ff2279c63e8f529f00ea,8803e5495d05529e09083007ac95f58b,4.808090e+11,29.434906,-95.254405,Alvin,Alvin Ind School District,Brazoria,False,...,1,0,0,True,False,1,0.276079,-0.339157,"(2012-07-01, 2012-12-30]",NaN
124947,fff025ce2682430f72e02a7823c1c27b,67f274a673108b021563e4fb172371ea,cccabd230f51c6c97850f093cec4ee08,4.900900e+11,36.998209,-110.175732,Monument Vly,San Juan School District,San Juan,False,...,1,0,0,True,False,1,-0.446563,-0.498196,"(2013-06-30, 2013-12-31]",NaN
124948,fff0ce1935052d50a4485bd480db03a6,1533c37c1d202411324cdd2274777580,5af7cc9cc60ec8d4e62c4516f1abf0d5,6.334800e+10,35.349696,-119.162331,Bakersfield,Rosedale Union School District,Kern,False,...,0,0,0,True,False,1,0.320332,-0.186234,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124949,fff17ba5f8954c060395735b111edb96,490d0b530daeed042a70a2acc2be1dc7,06c41c32c946457e8545b81dca1ce5c8,3.701920e+11,36.047957,-79.989043,High Point,Guilford Co School District,Guilford,False,...,0,0,0,True,False,0,-0.391983,-0.498196,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124950,fff1cbf1b7b26568ba57bb92992048b9,77c16c5f82bc583d9b13a3404f2daa37,8b819d840292b4c406ef7145b67b522d,3.600120e+11,40.681308,-73.856928,Ozone Park,New York City Dept Of Ed,Queens,False,...,0,0,0,True,False,0,0.120571,-0.437027,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124951,fff213f5fb0e61d1ea9df3f992d54d6c,b69405d095b441c64c8d41dbbbab83c1,f9c1fe53a81895aa5064308bb537a592,3.701920e+11,36.048576,-79.778015,Greensboro,Guilford Co School District,Guilford,False,...,0,0,0,True,False,0,0.043659,-0.449261,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
124952,fff24308118daa069f765ad2662234a6,855f5bbf58e3fcf59583777027329c6a,3579c9e1a2da2f06c6dd81877cda7054,2.731800e+11,44.036049,-92.484854,Rochester,Rochester School District 535,Olmsted,False,...,0,0,0,True,False,0,-0.148771,-0.430910,"(2012-12-30, 2013-06-30]",NaN
124953,fff2880da80e1b5443c838599d92e95d,ce2367ccff54254c79a79bf09bcf32ed,fe61be541ea0878c1f718cd936da3aca,3.600090e+11,40.660793,-73.988731,Brooklyn,New York City Dept Of Ed,Kings (Brooklyn),False,...,0,0,1,False,False,1,-0.235527,0.150196,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
124954,fff2f8b3170013ecf9ee7304c7b0d6d7,d728647826402b266ae8dc0d40914ebd,f3315fbcad5794f7ae6c4f848e488c8c,NaN,40.059349,-82.968307,Columbus,Ohio Department of Education,Franklin,True,...,1,0,0,True,False,1,-0.433148,-0.461495,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124955,fff309b22dacd7a37db9cb9ccee1e031,15969f9fd415e45316f5df1e4f6f7114,b25832137d33953fdfbd74616cf1dc94,3.702970e+11,35.107920,-80.886379,Pineville,Charlotte-mecklenburg Sch Dist,Mecklenburg,False,...,1,0,0,True,False,1,-0.329689,-0.467612,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124956,fff3183fb122c03321ce10b81fda2f55,afdfef895e4033893531858b3b7b93e4,413160e89bb3924066db49f015d12e6a,1.812810e+11,39.770969,-86.276016,Indianapolis,Msd Of Wayne Twp,Marion,False,...,0,0,0,True,False,1,-0.332020,3.698003,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124957,fff427a481a6ae0da7c79ee3a568a25d,2f4d0c10a6c3b90c1cdf700c1d1e8783,c7ee71e78a89b4537735625abe3df9e2,6.227101e+10,34.039135,-118.211122,Los Angeles,Los Angeles Unif Sch Dist,Los Angeles,False,...,0,0,1,False,False,1,0.187592,-0.216818,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
124958,fff43d73c89c9c0fa3455f71f36846af,c3892f47501ebe7560bb47f044cb6c1a,ab38fb6eeb133c593bca3bd17060dfff,6.227101e+10,34.029933,-118.435195,Los Angeles,Los Angeles Unif Sch Dist,Los Angeles,True,...,0,0,1,True,False,1,-0.084718,0.150196,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124959,fff4a452b872e91d3953849c26d66762,157dec98e29ea71d21c757c3b5d7807f,67a1d71fa445acf637993c210f67a464,1.303870e+11,32.487823,-84.979007,Columbus,Muscogee Co School District,Muscogee,False,...,0,0,0,True,False,1,-0.123825,-0.198468,"(2012-01-01, 2012-07-01]",NaN
124960,fff50452c8b57fabd715d5547997d659,a3b0edce360c46d821f3f949c37e0760,47266028aed99d00ce97ee299c89f0bb,6.227101e+10,34.200943,-118.530552,Reseda,Los Angeles Unif Sch Dist,Los Angeles,True,...,0,0,0,False,False,1,0.094223,-0.339157,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124961,fff5d11155a3d8e8c56a41fb2e79912c,442cff1ac9ba42e5dfcbbe3d924f4c07,f2e2d501f9ee2a961d1485e02019d148,5.509600e+11,43.125865,-87.955918,Milwaukee,Milwaukee Public Schools,Milwaukee,False,...,1,0,0,True,False,1,-0.421518,-0.473729,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124962,fff5fd6f1a382a7a9ceff838f35212e1,987a7ad70c7f28fb06e969a3a3bfbb08,fa17c1ab6a40fcabbf1514163ae1c910,6.280501e+10,37.742393,-122.168290,Oakland,Oakland Unified School Dist,Alameda,True,...,1,0,0,False,False,1,-0.405781,-0.449261,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
124963,fff8e52c5aac56e34c4d4eb5aa443c5d,9ed92b421feff227841dbe235da3a09c,77c73843c1a82cead04006069163dded,5.005310e+11,44.545620,-71.984150,Lyndonville,Caledonia North Su 8,Caledonia,False,...,0,0,0,True,False,1,-0.243669,-0.418676,"(2012-07-01, 2012-12-30]",NaN
124964,fff8ea691f0be0e4ed486690eb56c14f,c530d7baec513b17570c7ea40df638e9,2dc015358468c294b523cf18aeac6669,2.926160e+11,36.729577,-93.385154,Reeds Spring,Reeds Spring School Dist R4,Stone,False,...,1,0,0,True,False,1,-0.222349,-0.541015,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
124965,fffa75021cdd838e658b331847c78ad2,bd202f86ad86ba83875f754e7ff89964,6b1ea7aa5d39c00b9a260f60d9a35e86,1.602100e+11,43.648253,-116.347880,Boise,Meridian Joint School Dist 2,Ada,False,...,1,0,0,True,False,1,1.156507,-0.461495,"(2013-06-30, 2013-12-31]",NaN
124966,fffb88aa251449f1ba0b31d5552426b0,68a125f470e30903664d0e70e406d2b7,12629360afe5266b7e171f3cf57af5ec,6.344101e+10,37.725403,-122.430496,San Francisco,San Francisco Unified Sch Dist,San Francisco,False,...,0,0,0,True,False,1,0.331716,2.535791,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
124967,fffbc23d5c2ece64168af350ab9f6cad,4f23071c37c4aa0a96ea4ff336138c61,df83213f7800d05086a121ab1730b545,6.306601e+10,33.885330,-117.761117,Yorba Linda,Placentia Yorba Linda Usd,Orange,False,...,0,0,0,True,False,0,0.318574,3.930446,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
124968,fffc3632fd681fde1113eae31ca027d4,f52c695357488ae6e499cae04eb28802,3bca24ea3f5077ad0d0b86d979b3a6cf,4.807710e+11,29.909552,-95.360931,Houston,Aldine Ind School District,Harris,False,...,1,0,1,True,False,0,-0.293669,-0.437027,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124969,fffc5f77d0ba9fb9b9510582caa30bdd,2580b6b605b2d3667cfce00b87ce47f9,3870254e36f88935745384ebc06a4caf,1.300120e+11,33.752884,-84.342140,Atlanta,Atlanta Public Schools,De Kalb,False,...,0,0,0,True,False,0,0.131372,-0.461495,"(2013-06-30, 2013-12-31]",NaN
124970,fffcab52aff6aec5843afafe919d4a06,64ec2ab31709511cce9d4b344eed4ef0,ce225b42cd7d04da6fc8d47815dce5fc,5.100270e+11,38.838849,-77.097328,Arlington,Arlington Public Schools,Arlington,False,...,1,0,0,True,False,0,0.058240,-0.437027,"(2012-12-30, 2013-06-30]","(2012-12-30, 2013-06-30]"
124971,fffcfa4388e8ac482c44734bffa891c8,18b4c1437decf26b5f2c92b071962f82,212357c91e4f9db903e37691b80f1e46,3.600150e+11,40.615929,-73.912835,Brooklyn,New York City Dept Of Ed,Kings (Brooklyn),False,...,0,0,1,True,False,1,0.306899,-0.388092,"(2012-01-01, 2012-07-01]",NaN
124972,fffda9a35e156656df0a2e2c7091e9cf,9cc41ef1d42c253bde0866d2c490a6db,4e3fa7096549dae8b2c92cadd536b5f8,4.823640e+11,29.821455,-95.399082,Houston,Houston Ind School District,Harris,False,...,0,0,1,True,False,1,0.199732,0.370405,"(2013-06-30, 2013-12-31]","(2013-06-30, 2013-12-31]"
124973,fffe0bb8af3b9cd93046b49653cc923a,820b80005bdffb74fe85e4deb11c5a07,bb477994115ad6275e95623e927c040e,3.416290e+11,40.231834,-74.777481,Trenton,Trenton School District,Mercer,False,...,0,0,0,False,False,1,-0.428012,-0.461495,"(2012-07-01, 2012-12-30]","(2012-07-01, 2012-12-30]"
124974,fffe45b28ea6f2889de1e3f797fb31a3,defe5366f82c80715343e58cf95bd2ac,10a9c48f27d12ef702f27547db13a19b,8.069000e+10,39.875904,-105.031563,Westminster,Adams 12 Five Star Schools,Adams,False,...,0,0,0,True,False,1,-0.280664,2.474622,"(2012-01-01, 2012-07-01]","(2012-01-01, 2012-07-01]"
124975,fffeebf4827d745aa36b17c2d38d1966,96c1a33b4f2b832595c3c6a01bc24c05,7bb6b1924a7bd181ab5568b062260966,6.346201e+10,38.654224,-121.308122,Fair Oaks,San Juan Unified School Dist,Sacramento,False,...,0,0,0,False,False,1,0.258639,-0.516547,"(2012-07-01, 2012-12-30]",NaN

0        2013-06-13
1        2012-06-06
2        2012-03-30
3        2012-12-10
4        2013-03-09
5        2013-01-29
6        2013-05-25
7        2013-04-29
8        2013-10-20
9        2012-12-02
10       2013-09-27
11       2013-08-21
12       2013-03-23
13       2013-12-26
14       2013-07-27
15       2013-02-07
16       2012-03-26
17       2013-03-16
18       2012-03-23
19       2013-02-20
20       2013-02-16
21       2013-11-03
22       2014-02-08
23       2012-06-28
24       2014-01-18
25       2012-05-30
26       2012-07-29
27       2012-03-21
28       2012-10-06
29       2013-11-21
            ...
124946   2013-02-07
124947   2014-02-04
124948   2012-12-26
124949   2012-12-14
124950   2012-11-24
124951   2013-10-10
124952   2013-08-08
124953   2013-11-13
124954   2012-12-13
124955   2012-11-04
124956   2012-12-13
124957   2012-03-28
124958   2012-12-01
124959   2012-07-29
124960   2012-10-27
124961   2012-10-11
124962   2012-06-02
124963   2013-02-10
124964   2013-06-27
124965   2014-02-08
124966   2012-04-17
124967   2013-12-12
124968   2012-12-30
124969   2014-02-23
124970   2013-04-11
124971   2012-08-23
124972   2013-12-19
124973   2012-11-01
124974   2012-03-14
124975   2013-01-30
Name: date_posted, Length: 124976, dtype: datetime64[ns]